/* OpenAI Sans Font Family */

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-Light.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-LightItalic.woff2') format('woff2');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-RegularItalic.woff2') format('woff2');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-MediumItalic.woff2') format('woff2');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-Semibold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-SemiboldItalic.woff2') format('woff2');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenAI Sans';
  src: url('../assets/fonts/OpenAISans-BoldItalic.woff2') format('woff2');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}